body{
    text-align: center;
    background-color: rgb(231, 65, 65);
    color: black;
    box-shadow: #ff0000;
}
button{
    color: black;
    background-color: aliceblue;
}
button:hover{
    color: aliceblue;
    background-color: black;
}
input{
    padding: 10px;
    margin: 10px;
    border: 10px inset #000000;
    border-radius: 15px;
    box-shadow: 0 0 20px red ;
}
.container{
    background-color: red;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 20px 20px 35px #930303;
    text-align: center;
}

